version: "3"

networks:
  incredible-squaring-network:
    name: incredible-squaring-network
    driver: bridge

services:

  anvil:
    image: ghcr.io/foundry-rs/foundry
    container_name: anvil
    ports:
      - 8545:8545
    entrypoint: anvil
    volumes:
      - ./docker-compose/anvil-state.json:/root/.anvil/state.json
    command: --host 0.0.0.0 --load-state /root/.anvil/state.json
    networks:
      - incredible-squaring-network

  aggregator:
    build:
      context: .
      dockerfile: aggregator.Dockerfile
    container_name: incredible-squaring-aggregator
    ports:
      - 8080:8080
    depends_on:
      anvil:
        condition: service_started
    volumes:
      - ./:/incredible-squaring/
    working_dir: /incredible-squaring
    command: 
      - --config 
      - config-files/aggregator-docker-compose.yaml
      - --credible-squaring-deployment 
      - contracts/script/output/31337/credible_squaring_avs_deployment_output.json
      - --shared-avs-contracts-deployment 
      - contracts/script/output/31337/shared_avs_contracts_deployment_output.json
      - --ecdsa-private-key 
      - "0x2a871d0798f97d79848a013d4936a73bf4cc922c825d33c1cf7073dff6d409c6"
    networks:
      - incredible-squaring-network
{% for operator in operators %}
  {{ operator.machine }}:
    image: zippiehq/cartesi-lambada:1.5
    container_name: incredible-squaring-{{ operator.machine }}
    volumes:
      - {{ operator.data_path }}:/data
      - ./machine:/data/preload
    networks:
      - incredible-squaring-network
    environment:
      - COMPUTE_ONLY=1

  {{ operator.name }}:
    build:
      context: .
      dockerfile: operator.Dockerfile
    container_name: incredible-squaring-{{ operator.name }}
    depends_on:
      anvil:
        condition: service_started
      aggregator:
        condition: service_started
      machine1:
        condition: service_started
    environment:
      - IPFS_ADDRESS={{ operator.ipfs_address }}
      - LAMBADA_ADDRESS={{ operator.lambada_address }}
      - LAMBADA_COMPUTE_CID=bafybeif5liyov4oltxvc34qh3uyyxy5znisbmarsorxrp4nr3o7ywjuo5u
      - OPERATOR_BLS_KEY_PASSWORD={{ operator.bls_key_password }}
      - OPERATOR_ECDSA_KEY_PASSWORD={{ operator.ecdsa_key_password }}
    volumes:
      - ./:/incredible-squaring/
    working_dir: /incredible-squaring
    command: --config {{ operator.config_path }}
    networks:
      - incredible-squaring-network
{% endfor %}