version: "3"

{% if network == 'holesky' %}
secrets:
  anvil_fork_url_holesky:
    file: anvil_fork_url_holesky.txt
{% elif network == 'mainnet' %}
secrets:
  anvil_fork_url_mainnet:
    file: anvil_fork_url_mainnet.txt
{% endif %}

networks:
  lambada-coprocessor-network:
    name: lambada-coprocessor-network
    driver: bridge

services:

  anvil:
    build:
      context: .
      dockerfile: Dockerfile-anvil
    container_name: anvil
    ports:
      - 127.0.0.1:8545:8545
    volumes:
      - ./tests/anvil/avs-and-eigenlayer-deployed-anvil-state.json:/root/.anvil/state.json
      - ./:/cartesi-lambada-coprocessor/
{% if network == 'devnet' %}
    command: /cartesi-lambada-coprocessor/tests/anvil/run-anvil-devnet.sh
{% elif network == 'holesky' %}
    command: /cartesi-lambada-coprocessor/tests/anvil/run-anvil-holesky.sh
{% elif network == 'mainnet' %}
    command: /cartesi-lambada-coprocessor/tests/anvil/run-anvil-mainnet.sh
{% endif %}
    healthcheck:
{% if network == 'devnet' %}
      test: bash -c "[ -f /cartesi-lambada-coprocessor/tests/anvil/devnet-operators-ready.flag ]"
      interval: 3s
      retries: 20
      start_period: 15s
{% elif network == 'holesky' %}
      test: bash -c "[ -f /cartesi-lambada-coprocessor/contracts/script/output/lambada_coprocessor_deployment_output_holesky.json ]"
      interval: 3s
      retries: 20
      start_period: 15s
{% elif network == 'mainnet' %}
      test: bash -c "[ -f /cartesi-lambada-coprocessor/contracts/script/output/lambada_coprocessor_deployment_output_mainnet.json ]"
      interval: 3s
      retries: 20
      start_period: 15s
{% endif %}
    networks:
      - lambada-coprocessor-network
{% if network == 'holesky' %}
    secrets:
      - anvil_fork_url_holesky
{% elif network == 'mainnet' %}
    secrets:
      - anvil_fork_url_mainnet
{% endif %}

  aggregator:
    build:
      context: .
      dockerfile: aggregator.Dockerfile
    container_name: lambada-coprocessor-aggregator
    ports:
      - 127.0.0.1:8080:8080
    depends_on:
      anvil:
        condition: service_healthy
    volumes:
      - ./:/lambada-coprocessor/
    working_dir: /lambada-coprocessor
    command: 
      - --config 
{% if network == 'devnet' %}
      - tests/nodes/aggregator/config-devnet.yaml
{% elif network == 'holesky' %}
      - tests/nodes/aggregator/config-holesky.yaml
{% elif network == 'mainnet' %}
      - tests/nodes/aggregator/config-mainnet.yaml
{% endif %}
      - --private-key 
      - "0x2a871d0798f97d79848a013d4936a73bf4cc922c825d33c1cf7073dff6d409c6"
    networks:
      - lambada-coprocessor-network
    healthcheck:
      test: bash -c "[ cat < /dev/null > /dev/tcp/0.0.0.0/8080 ]"
      interval: 10s
      retries: 200
      start_period: 15s

{% for operator in operators %}
  {{ operator.machine }}:
    image: ghcr.io/zippiehq/cartesi-lambada:latest
    container_name: lambada-coprocessor-{{ operator.machine }}
    ports:
      - 127.0.0.1:{{ operator.host_ipfs_port }}:5001
    volumes:
      - ./{{ operator.machine_data }}:/data
      - ./machine/data-preload:/data/preload
    networks:
      - lambada-coprocessor-network
    environment:
      - COMPUTE_ONLY=1

  {{ operator.name }}:
    build:
      context: .
      dockerfile: operator.Dockerfile
    container_name: lambada-coprocessor-{{ operator.name }}
    depends_on:
      aggregator:
        condition: service_healthy
      {{ operator.machine }}:
        condition: service_started
    volumes:
      - ./:/lambada-coprocessor/
    working_dir: /lambada-coprocessor
    command: {{ operator.run_script }}
    networks:
      - lambada-coprocessor-network
{% endfor %}