version: "3"

networks:
  lambada-coprocessor-network:
    name: lambada-coprocessor-network
    driver: bridge

services:

  anvil:
    image: ghcr.io/foundry-rs/foundry
    container_name: anvil
    ports:
      - 8545:8545
    entrypoint: anvil
    volumes:
      - ./tests/anvil/avs-and-eigenlayer-deployed-anvil-state.json:/root/.anvil/state.json
    command: --host 0.0.0.0 --load-state /root/.anvil/state.json
    networks:
      - lambada-coprocessor-network

  aggregator:
    build:
      context: .
      dockerfile: aggregator.Dockerfile
    container_name: lambada-coprocessor-aggregator
    ports:
      - 8080:8080
    depends_on:
      anvil:
        condition: service_started
    volumes:
      - ./:/lambada-coprocessor/
    working_dir: /lambada-coprocessor
    command: 
      - --config 
      - tests/nodes/aggregator/aggregator-docker-compose.yaml
      - --credible-squaring-deployment 
      - contracts/script/output/31337/lambada_coprocessor_avs_deployment_output.json
      - --ecdsa-private-key 
      - "0x2a871d0798f97d79848a013d4936a73bf4cc922c825d33c1cf7073dff6d409c6"
    networks:
      - lambada-coprocessor-network
{% for operator in operators %}
  {{ operator.machine }}:
    image: zippiehq/cartesi-lambada:1.0
    container_name: lambada-coprocessor-{{ operator.machine }}
    volumes:
      - {{ operator.data_path }}:/data
      - ./machine/data-preload:/data/preload
    networks:
      - lambada-coprocessor-network
    environment:
      - COMPUTE_ONLY=1

  {{ operator.name }}:
    build:
      context: .
      dockerfile: operator.Dockerfile
    container_name: lambada-coprocessor-{{ operator.name }}
    depends_on:
      anvil:
        condition: service_started
      aggregator:
        condition: service_started
      machine1:
        condition: service_started
    environment:
      - IPFS_ADDRESS={{ operator.ipfs_address }}
      - LAMBADA_ADDRESS={{ operator.lambada_address }}
      - LAMBADA_COMPUTE_CID=bafybeicyzbzllftccnty6mb66au3zyyb4646cnvdyozrfym3yjlerbs5iu
      - OPERATOR_BLS_KEY_PASSWORD={{ operator.bls_key_password }}
      - OPERATOR_ECDSA_KEY_PASSWORD={{ operator.ecdsa_key_password }}
    volumes:
      - ./:/lambada-coprocessor/
    working_dir: /lambada-coprocessor
    command: --config {{ operator.config_path }}
    networks:
      - lambada-coprocessor-network
{% endfor %}