production: true

avs_deployment_output_path: {{ avs_deployment_output_path }}

ecdsa_private_key_store_path: {{ ecdsa_private_key_store_path }}
bls_private_key_store_path: {{ bls_private_key_store_path }}

eth_rpc_url: {{ eth_rpc_url }}
eth_ws_url: {{ eth_ws_url }}

aggregator_server_ip_port_address: {{ aggregator_server_ip_port_address }}
ipfs_ip_port_address: {{ ipfs_ip_port_address }}
lambada_ip_port_address: {{ lambada_ip_port_address }}

enable_metrics: true
eigen_metrics_ip_port_address: {{ eigen_metrics_ip_port_address }}

enable_node_api: true
node_api_ip_port_address: {{ node_api_ip_port_address }}