production: true

address: {{ address }}

registry_coordinator_address: {{ registry_coordinator_address }}
operator_state_retriever_address: {{ operator_state_retriever_address }}

ecdsa_private_key_store_path: {{ ecdsa_private_key_store_path }}
bls_private_key_store_path: {{ bls_private_key_store_path }}

eth_rpc_url: http://anvil:8545
eth_ws_url: ws://anvil:8545

aggregator_server_ip_port_address: lambada-coprocessor-aggregator:8090
ipfs_ip_port_address: {{ ipfs_ip_port_address }}
lambada_ip_port_address: {{ lambada_ip_port_address }}

enable_metrics: true
eigen_metrics_ip_port_address: 0.0.0.0:9090

enable_node_api: true
node_api_ip_port_address: 0.0.0.0:9010