#!/bin/bash

rm /cartesi-lambada-coprocessor/contracts/script/output/lambada_coprocessor_deployment_output_holesky.json

ANVIL_FORK_URL=`cat /run/secrets/anvil_fork_url_holesky`
anvil --fork-url $ANVIL_FORK_URL --host 0.0.0.0 &
timeout 22 bash -c 'until printf "" 2>>/dev/null >>/dev/tcp/$0/$1; do sleep 1; done' 0.0.0.0:8545

{% for operator in operators %}
cast send \
    --rpc-url http://0.0.0.0:8545 \
    --private-key {{ funder_private_key }} \
    --value 20ether {{ operator.address }}

cast send \
    --rpc-url http://0.0.0.0:8545 \
    --private-key {{ operator.private_key }} \
    --value {{ strategy_deposit_amount }}ether \
    0x94373a4919B3240D86eA41593D5eBa789FEF3848 'deposit()'
{% endfor %}

cd /cartesi-lambada-coprocessor/contracts

forge script \
    script/LambadaCoprocessorDeployerHoleksy.s.sol:LambadaCoprocessorDeployerHolesky \
    --rpc-url http://0.0.0.0:8545 \
    --private-key 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 \
    --broadcast -v

tail -f /dev/null
